langchain_community
langchain-google-genai
langchain-groq
langchain-nomic
langchain
langchain-text-splitters
langchain_huggingface
langchain_mistralai
wikipedia
faiss-cpu
sentence-transformers
google-search-results
python-dotenv
tavily-python
langgraph
chromadb
langchainhub
tiktoken
youtube_search